/* fuentes */
/* selector universal */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* inicio estilo BODY */
body {
  background-color: #E3AE44;
  font-family: "Roboto Mono", monospace;
}

p {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

/* inicio estilo HEADER */
.header {
  background-color: #82B131;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}
.header img {
  width: 50%;
  height: auto;
  display: flex;
  border-radius: 80%;
  border-color: black;
}
.header nav {
  text-align: center;
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
  background-color: #82B131;
}
.header nav .navbar {
  background-color: #82B131;
  border-color: #82B131;
}
.header nav .navbar-list {
  list-style-type: none;
  text-align: center;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  gap: 60px;
  flex-wrap: wrap;
  background-color: #82B131;
}
.header nav .navbar-list-item {
  font-style: italic;
  text-decoration: none;
  align-items: center;
  border-bottom: 2px solid #82B131;
  transition: all 0.5s ease;
}
.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}
.header .nav-list-item:hover a {
  border-color: black;
}

/* fin estilo header */
/* estilo BANNER */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 5rem;
}
.main .div-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
  width: 850px;
  height: 400px;
}
.main .div-banner .img-banner {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.main .banner-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
  margin-top: 3rem;
}

/* inicio estilo seccion PODUCTOS EN INDEX */
.main-section {
  display: flex;
  justify-content: center;
  gap: 2px;
  flex-wrap: wrap;
  margin: 5rem 5rem;
}
.main-section-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section-article-img {
  width: 400px;
  height: 250px;
  border-radius: 8px;
}
.main-section-article-text {
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
}

/* fin estilo productos en index */
/* incio estilo PRODUCTOS */
.productos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 5rem 5rem;
}
.productos .card {
  --bs-card-bg: #E3AE44;
}
.productos article {
  width: 300px;
  margin: 20px;
  text-align: center;
}
.productos img {
  border-radius: 8px;
}
.productos p {
  font-weight: bold;
  margin-top: 10px;
}
.productos .img-fluid {
  height: 50%;
}

/* incio estilo PRODUCTOS after bootstrap */
/* fin estilo productos */
/* inicio estilo NOSOTROS */
.section-nosotros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem 5rem;
}
.section-nosotros-img {
  width: 50%;
  height: 50%;
  border-radius: 8px;
  margin-top: 25px;
  margin-left: 25px;
}
.section-nosotros-text {
  margin-left: 20px;
}

.contenedor-imagen {
  width: 100%;
  height: 50%;
}

.googlemap {
  text-align: right;
  margin-top: 2rem;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.googlemap-text {
  margin-top: 10px;
  text-align: right;
}
.googlemap iframe {
  border-radius: 12px;
  margin-bottom: 10px;
}

/* fin estilo nosotros */
/* inicio estilo NOTICIAS */
.section-noticias {
  margin: 5rem 5rem;
}

.article-instagram {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  flex-wrap: nowrap;
}
.article-instagram iframe {
  margin-left: 20px;
}

.article-eventos {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  row-gap: 2rem;
}
.article-eventos img {
  justify-self: center;
  border-radius: 8px;
}

/* fin estilo noticias */
/* inicio estilo CAFE */
.section-cafe {
  margin: 5rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section-cafe p {
  margin-top: 2rem;
}
.section-cafe a {
  border-radius: 50%;
}

/* fin estilo cafe */
/* inicio estilo CONTACTO */
.section-contacto {
  margin: 5rem 5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
}
.formulario textarea {
  width: 500px;
  height: 200px;
  resize: none;
}
.formulario input[type=submit] {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #82B131;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.formulario input[type=submit]:hover {
  background-color: #639821;
}

.contacto-container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-img {
  width: 50%;
  height: 50%;
  border-radius: 8px;
}

/* fin estilo contacto */
/* inicio estilo FOOTER */
.footer {
  background-color: #82B131;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
}
.footer-text {
  text-align: center;
  flex-grow: 1;
  color: black;
  align-items: flex-end;
}
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.footer-list-item {
  display: flex;
  align-items: center;
  color: black;
}
.footer-list-item-link {
  color: black;
  text-decoration: none;
}

/* fin estilo footer */
/* MEDIA QUERY */
/* small devices (landcape phones, 576px and up) */
@media screen and (min-width: 320px) and (max-width: 576) {
  .header {
    background-color: #82B131;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    text-decoration-color: black;
    height: auto;
  }
  .header img {
    width: 2%;
    height: auto;
    display: flex;
    border-radius: 80%;
    border-color: black;
  }
  .header nav {
    text-align: center;
    font-size: 3rem;
    font-family: "Roboto Mono", monospace;
    background-color: #82B131;
  }
  .header nav .navbar {
    background-color: #82B131;
    border-color: #82B131;
  }
  .header nav .navbar-list {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    gap: 60px;
    flex-wrap: wrap;
    background-color: #82B131;
  }
  .header nav .navbar-list-item {
    font-style: italic;
    text-decoration: none;
    align-items: center;
    border-bottom: 2px solid #82B131;
    transition: all 0.5s ease;
  }
  .header a {
    color: black;
    text-decoration: none;
  }
  .header .nav-list-item:hover a {
    border-color: black;
  }
}
/* medium devices (tablets, 577px and up) */
/* large devices (tablets, 769px and up) */
/* @media screen and (min-width: 769px) {

    #grilla {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
            "header header header header header header header header header header header header"
            "header header header header header header header header header header header header"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
        row-gap: 0, .5 rem;
    }
} */
/* x-large devices (desktops, 894px and up) */
/* @media screen and (min-width: 894px) {

    #grilla {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
            "header header header header header header header header header header header header"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
        row-gap: 0, .5 rem;

        max-width: 1200px;
        margin: 0 auto;

    } */
/* MEDIA QUERY */
/* small devices (landcape phones, 576px and up) */
/* medium devices (tablets, 577px and up) */
/* large devices (tablets, 769px and up) */
/* @media screen and (min-width: 769px) {

    #grilla {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
            "header header header header header header header header header header header header"
            "header header header header header header header header header header header header"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
        row-gap: 0, .5 rem;
    }
} */
/* x-large devices (desktops, 894px and up) */
/* @media screen and (min-width: 894px) {

    #grilla {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
            "header header header header header header header header header header header header"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "section section section section section section section section section section section section"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
        row-gap: 0, .5 rem;

        max-width: 1200px;
        margin: 0 auto;

    } */
/* Color Theme Swatches in Hex */
/* .color-theme_Jardin-mediterraneo-colores-2-hex { color: #DD3C32; } ROJO
.color-theme_Jardin-mediterraneo-colores-3-hex { color: #DC802B; } MOSTAZA
.color-theme_Jardin-mediterraneo-colores-4-hex { color: #E3AE44; } CREMA
.color-theme_Jardin-mediterraneo-colores-5-hex { color: #82B131; } VERDE */

/*# sourceMappingURL=style.css.map */
