

/* fuentes */
@import "./utilities/variables";
@import "./globals/resets";
@import "./utilities/mixin";
@import "./views/home";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');







/* Color Theme Swatches in Hex */
/* .color-theme_Jardin-mediterraneo-colores-2-hex { color: #DD3C32; } ROJO
.color-theme_Jardin-mediterraneo-colores-3-hex { color: #DC802B; } MOSTAZA
.color-theme_Jardin-mediterraneo-colores-4-hex { color: #E3AE44; } CREMA
.color-theme_Jardin-mediterraneo-colores-5-hex { color: #82B131; } VERDE */