/* selector universal */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

/* inicio estilo BODY */
body {
    background-color: #E3AE44;
    font-family: 'Roboto Mono', monospace;
}

p {
    font-size: 2rem;
}

ul {
    list-style-type: none;
}
